# Server
PORT=4000
NODE_ENV=development
FRONTEND_STORE_URL=http://localhost:3000
FRONTEND_SUPER_ADMIN_URL=http://localhost:3004

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ecommerce

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_UPLOAD_PRESET=
CLOUDINARY_WORKSPACE_UPLOAD_PRESET=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Super admin
SUPER_ADMIN_LOGIN_EMAIL=
SUPER_ADMIN_PASS=
JWT_SECRET=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=

# OpenRouter
OPENROUTER_API_KEY=
